:root{
  --soho_dgrey: rgb(78,79,84);
  --soho_white: rgb(255,255,255);
  --soho_lgray: #c8cfd6ff;
  --soho_black: rgb(31,29,31,0.5);
  --soho_maroon: rgb(98,68,69,1);
  --coffeekey-teal: hsla(192, 25%, 44%, 1);
  --coffeekey-brown: hsla(29, 43%, 12%, 1);
  --coffeekey-grey: hsla(44, 8%, 35%, 1);
  --coffeekey-black: hsla(100, 6%, 10%, 1);
  --red-ryb: hsla(2, 96%, 54%, 1);
  --h4_font: 'Manrope', sans-serif;
  --h2_font: 'Baskerville', sans-serif;
  --h3_font: 'Lexend Deca', sans-serif;
  --h1_font: 'Libre Baskerville', serif;
}

* {
  margin: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* DELTE WHEN ALL PAGES ARE COMPLETE*/
.intro_paragraph p{
  color: white;
  text-align: center;
  font-family: var(--h3_font);
}

footer {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--coffeekey-teal);
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  /* remember to add https:// to link */
  background-image: url(https://kdjiang390.github.io/Assets/me.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:static;
  right: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 16/9;
  transform: scale(1.0);
}

#nav {
  position: sticky;
  position:-webkit-sticky;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: var(--soho_black);
}

#nav ul li {

  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 30px 0px 30px 0px;
  transition: background .5s;
  width: 200px;
  height: 10%;
}
  
#nav ul li:hover {
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  transition: background .5s;
}

#nav ul li a {
  font-family: var(--h3_font);
  color: var(--soho_white);
  text-decoration: none;
}

#intro_liners{
  word-break:break-word;
  text-align: left;
  white-space: normal;
}

h1 {
  background-color: var(--soho_black);
  width: 53%;
  color: var(--soho_white);
  font-size:80px;
  bottom: 100px;
  font-family: var(--h1_font);
  font-weight: bold;
  position: flex;
  text-align: left;
  padding: 20px 0px 0px 15px;
}

#intro_liners h2 {

  color: var(--soho_white);
  font-size:27px;
  font-family: var(--h2_font);
  font-weight: bold;
  text-align: left;
  padding: 350px 20px 20px 20px;

}

#intro_liners h3 {
  background-color: var(--soho_black);
  width: 52.65%;
  color: var(--soho_white);
  font-size:18px;
  font-family: var(--h3_font);
  font-weight: bold;
  text-align: left;
  padding: 20px 0px 20px 20px;
}

#intro_liners ul{
  padding: 30px 0px 0px 0px;
}

#intro_liners li{
  display: inline-block;
  margin-bottom: 50px;
}

#intro_liners li a{
  font-size: 14px;
  font-family: var(--h3_font);
  text-decoration: none;
  color: white;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: white;
  box-sizing: border-box;
  width: 100px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#intro_liners li a:hover{
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  transition: background .5s; 
}

#socialmedia ul{
  padding: 0px 0px 5% 17px;
}

#socialmedia ul li{
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  width: 70px;
  height: 10%;
}

#socialmedia ul li a img:hover{
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  transition: background .5s;
  border-radius: 10px;
}



/* BELOW: about me page*/
.aboutme_introheader{
  /* remember to add https:// to link */
  background-image: url(https://kdjiang390.github.io/Assets/aboutme_introheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:static;
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}


.intro_paragraph{
  padding: 30% 0px 0px 0px;
}

.intro_content P{
  text-align: center;
  color: white;
  font-size: 50px;
}

.journey_container p{
  word-break:break-word;
  text-align: left;
  white-space: normal;
}

.journey_container{
  background-color: var(--soho_lgray);
  background-size: auto 100%;
  resize: vertical;
  overflow: auto;
}

.journey_content h1{
  background: transparent;
  text-align: center;
  position: static;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  padding: 50px 0px 50px 0px;
}

#tesla_container {
  display: grid;
  grid-template-columns: repeat(20px, 20px);
  gap: 0px;
  grid-auto-rows: minmax(auto, auto);
}

#tesla_container img {
  grid-area: tesla_container;
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  height: 50px;
  top: 0;
  padding-top: 10px;
  padding-left: 90%;
}

#tesla_content{
  grid-area: tesla_container;
  grid-column: 2;
  grid-row: 1;
  line-height: 30px;
  width: 500px;
  margin-left: 100px;
  position: sticky;
  top: 0;
}

#hope_container {
  display: grid;
  grid-template-columns: repeat(20px, 2fr);
  gap: 0px;
  grid-auto-rows: minmax(auto, auto);
}

#hope_container img {
  grid-area: hope_container;
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  height: 50px;
  top: 0;
  padding-top: 10px;
  padding-left: 90%;
}

#hope_content{
  grid-area: hope_container;
  grid-column: 2;
  grid-row: 1;
  line-height: 30px;
  width: 500px;
  margin-left: 100px;
  position: sticky;
  top: 0;
}

/* PORTFOLIO PAGE*/
.portfolio_introheader{
  background-image: url(https://kdjiang390.github.io/Assets/portfolio_introheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:static;
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}
/* CONTACTS PAGE*/
.contacts_introheader{
  background-image: url(https://kdjiang390.github.io/Assets/contacts_introheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:static;
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}