:root{
  --soho_dgrey: rgb(78,79,84);
  --soho_white: rgb(255,255,255);
  --soho_lgray: #c8cfd6ff;
  --soho_black: rgb(31,29,31,0.5);
  --soho_maroon: rgb(98,68,69,1);
  --coffeekey-teal: hsla(192, 25%, 44%, 1);
  --coffeekey-brown: hsla(29, 43%, 12%, 1);
  --coffeekey-grey: hsla(44, 8%, 35%, 1);
  --coffeekey-black: hsla(100, 6%, 10%, 1);
  --red-ryb: hsla(2, 96%, 54%, 1);
  --h4_font: 'Manrope', sans-serif;
  --h2_font: 'Baskerville', sans-serif;
  --h3_font: 'Lexend Deca', sans-serif;
  --h1_font: 'Libre Baskerville', serif;
}

* {
  margin: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  background: var(--coffeekey-black);
  transform: scale(1.0);
}

.introheader{
  /* remember to add https:// to link */
  background-image: url(https://kdjiang390.github.io/Assets/me.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:static;
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}

#nav {
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: transparent;
  background-color: var(--soho_black);
}

  
#nav ul li {
  font-family: var(--h2_font);
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 40px 0px;
  transition: background .5s;
  width: 15%;
  height: 100%;
}
  
#nav ul li:hover {
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  transition: background .5s; 
}

#nav ul li a {
  color: var(--soho_white);
  text-decoration: none;
}


h1 {
  background-color: var(--soho_black);
  width: 800px;
  color: var(--soho_white);
  font-size:90px;
  bottom: 100px;
  font-family: var(--h1_font);
  font-weight: bold;
  position: flex;
  text-align: left;
  padding: 20px 0px 20px 15px;
}

#intro_liners h2 {

  color: var(--soho_white);
  font-size:27px;
  font-family: var(--h2_font);
  font-weight: bold;
  text-align: left;
  padding: 350px 20px 20px 20px;

}

#intro_liners h3 {
  background-color: var(--soho_black);
  width: 795px;
  color: var(--soho_white);
  font-size:18px;
  font-family: var(--h3_font);
  font-weight: bold;
  text-align: left;
  padding: 20px 0px 20px 20px;
}

#intro_liners ul{
  padding: 30px 0px 0px 0px;
}

#intro_liners li{
  display: inline-block;
  margin-bottom: 50px;
}

#intro_liners li a{
  font-size: 14px;
  font-family: var(--h3_font);
  text-decoration: none;
  color: white;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: white;
  box-sizing: border-box;
  width: 100px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#intro_liners li a:hover{
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  transition: background .5s; 
}

#socialmedia ul{
  padding: 0px 0px 0px 17px;
}

#socialmedia ul li{
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  width: 70px;
}

#socialmedia ul li a img:hover{
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  transition: background .5s;
  border-radius: 10px;
}

footer {
  color: white;
  text-align: center;
}

/* BELOW: about me page*/
.intro_paragraph{
  width: 100%;
  height: 100%;
}

.intro_paragraph P{
  text-align: center;
  color: white;
  padding: 200px 0px 0px 0px;
}

.intro_paragraph h2{
  text-align: center;
}

#analyst, #apm, #intern{
  object-position: top right;
  display: inline-block;
  background: var(--soho_maroon);
  width: 15%;
  height: 15%;
  padding: 10px 10px 10px 10px;
  margin: 50px 10px;  
  box-sizing: border-box;
  box-shadow: 5px 5px 5px var(--soho_lgray);
  border-radius: 10px;
}

#analyst a, #apm a, #intern a{
  text-decoration: none;
}

#analyst:hover, #apm:hover, #intern:hover {
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  border-radius: 10px;
  transition: background .5s;
}
