:root{
  --soho_dgrey: rgb(78,79,84,1);
  --soho_white: rgb(255,255,255,1);
  --soho_lgrey: rgb(200, 207, 214,1);
  --soho_black: rgb(31,29,31,1);
  --soho_maroon: rgb(98,68,69,1);
  --soho_black_opaque: rgb(31,29,31,0.5);
  --soho_white_opaque:rgb(255,255,255,0.5);
  --soho_dgrey_opaque:rgb(78,79,84,0.6);
  --soho_lgrey_opaque:rgb(200,207,214,0.3);
  --soho_maroon_opaque: rgb(98,68,69,0.5);
  --coffeekey-teal: hsla(192, 25%, 44%, 1);
  --coffeekey-brown: hsla(29, 43%, 12%, 1);
  --coffeekey-grey: hsla(44, 8%, 35%, 1);
  --coffeekey-black: rgb(25, 27, 24);
  --coffeekey-teal_opaque: hsla(192, 25%, 44%, 0.5);
  --coffeekey-brown_opaque: hsla(29, 43%, 12%, 0.5);
  --coffeekey-grey_opaque: hsla(44, 8%, 35%, 0.5);
  --coffeekey-black_opaque: hsla(100, 6%, 10%, 0.5);
  --h4_font: 'Manrope', sans-serif;
  --h2_font: 'Bad Script', cursive;
  --h3_font: 'Lexend Deca', sans-serif;
  --h1_font: 'Libre Baskerville', serif;
  --h5_font: 'Caveat', cursive;
}

* {
  margin: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* DELTE WHEN ALL PAGES ARE COMPLETE*/
.intro_paragraph p{
  color: white;
  text-align: center;
  font-family: var(--h3_font);
}

footer {
  color: white;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
  background-color: var(--coffeekey-teal);
  background-repeat: no-repeat;
  background-size: cover;
}

.index_introheader{
  background-image: url(https://kdjiang390.github.io/Assets/me.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:static;
  right: 0;
  top: 0;
  aspect-ratio: 16/9;
}

#nav {
  position: sticky;
  position:-webkit-sticky;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: var(--soho_black_opaque);
}

#nav ul li {

  font-weight: bold;
  font-size: 100%;
  display: inline-block;
  padding: 3% 0px 3% 0px;
  transition: background .5s;
  width: 200px;
  height: 10%;
}
  
#nav ul li:hover {
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  transition: background .5s;
}

#nav ul li a {
  font-family: var(--h3_font);
  color: var(--soho_white);
  text-decoration: none;
}

#intro_liners{
  word-break:break-word;
  text-align: left;
  white-space: normal;
  background-color: var(--soho_black_opaque);
  width: 50vw;
  padding: 0px 0px 0px 0px;
  margin-top: 10%;
}

#intro_liners h1 {
  width: fit-content;
  color: var(--soho_white);
  font-size:325%;
  bottom: 100px;
  font-family: var(--h5_font);
  font-weight: bold;
  position: flex;
  text-align: left;
  padding: 20px 15px 0px 15px;
}

#intro_liners h2 {
  width: fit-content;
  color: var(--soho_white);
  font-size:150%;
  font-family: var(--h3_font);
  font-weight: bold;
  text-align: left;
  padding: 10% 20px 20px 20px;

}

#intro_liners h3 {
  width: fit-content;
  color: var(--soho_white);
  font-size:1em;
  font-family: var(--h3_font);
  font-weight: bold;
  text-align: left;
  padding: 20px 20px 20px 20px;
}

#intro_liners ul{
  padding: 30px 0px 0px 0px;
}

#intro_liners li{
  display: inline-block;
  margin-bottom: 50px;
}

#intro_liners li a{
  font-size: 14px;
  font-family: var(--h3_font);
  text-decoration: none;
  color: white;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: white;
  box-sizing: border-box;
  width: 100px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#intro_liners li a:hover{
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  transition: background .5s; 
}

#socialmedia ul{
  padding: 3% 0px 5% 17px;
}

#socialmedia ul li{
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  width: 70px;
  height: 10%;
}

#socialmedia ul li a img:hover{
  background-color: var(--coffeekey-teal);
  cursor: pointer; 
  transition: background .5s;
  border-radius: 10px;
}



/* BELOW: about me page*/

.aboutme_body{
  background-image: url(https://kdjiang390.github.io/Assets/aboutme_body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutme_introheader{
  /* remember to add https:// to link */
  background-repeat: no-repeat;
  background: transparent;
  background-size: auto;
  position:static;
  right: 0;
  top: 0;
  aspect-ratio: 16/9;
  transform: scale(1, 1);
}


.intro_paragraph{
  padding: 10% 0px 14% 0px;
}

.intro_content{
  font-family: var(--h5_font);
  font-weight: bold;
  color: white;
  word-break:break-word;
  white-space: normal;
  text-decoration: none;
  width: 100%;
  margin: 20% 0 0 0;
}

.intro_content h1{
  color: var(--soho_black_opaque);
  text-align: center;
  font-size: 600%;
}

.intro_content p{
  color: var(--soho_white);
  text-align: center;
  font-size: 200%;
}

/*Journey section*/
.journey_container p{
  word-break:break-word;
  white-space: normal;
}

.journey_container{
  background-color: var(--soho_dgrey_opaque);
  background-size: auto 100%;
  resize: vertical;
}

.journey_content h1{
  color: white;
  font-family: var(--h3_font);
  position:static;
  text-align: center;
  font-size: 300%;
  padding-top: 5%;
  margin: 5% 5% 3% 5%;
}

#tesla_container {
  display: grid;
  grid-template-columns: repeat(40%, 50%);
  gap: 10px;
  grid-auto-rows: minmax(auto, auto);
  justify-content: start;
  font-size: 100%;
  margin-left: 28%;
}

#tesla_container img {
  grid-area: tesla_container;
  grid-column: 1;
  grid-row: 1;
  position: static;
  height: 50px;
  top: 0;
  padding-top: 10px;
}

#tesla_content{
  grid-area: tesla_container;
  grid-column: 2;
  grid-row: 1;
  line-height: 30px;
  width: 60%;
  margin-left: 5%;
  position: static;
  top: 0;
  font-family: var(--h4_font);
  color: var(--soho_white);
  margin-bottom: 5%;
}

#hope_container {
  display: grid;
  grid-template-columns: repeat(50%, 50%);
  gap: 10px;
  justify-content: start;
  grid-auto-rows: minmax(auto, auto);
  font-size: 100%;
  margin-left: 28%;
}

#hope_container img {
  grid-area: hope_container;
  grid-column: 1;
  grid-row: 1;
  position: static;
  height: 50px;
  top: 0;
  padding-top: 10px;
}

#hope_content{
  grid-area: hope_container;
  grid-column: 2;
  grid-row: 1;
  line-height: 30px;
  width: 60%;
  margin-left: 5%;
  position: static;
  top: 0;
}
/*last journey piece has to have padding bottom 5%*/

/*MY COMMUNITY SECTION*/
.community_container {
  background-color: var(--soho_black_opaque);
  background-size: auto 100%;
  resize: vertical;
  word-break:break-word;
  white-space: normal;
  text-decoration: none;
}

#community_text{
  color: white;
  font-family: var(--h3_font);
  background: transparent;
  text-align: center;
  position: static;
  font-size: 300%;
  margin: 0% 5% 0 5%;
  padding-top: 5%;
  padding-bottom: 3%;
}

#community_text p{
  text-align: center;
  font-size: 30px;
}

.community_grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr;
  column-gap: 2%;
  row-gap: 3%;
  justify-items: left;
  justify-content: space-between;
  font-size: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  background-color: red;
}

.stackoverflow_wrapper, .medium_wrapper, .dribbble_wrapper, .behance_wrapper {
  position: static;
  border: 2px solid black;
}

.stackoverflow_wrapper{
  grid-area: community_grid;
  grid-column: 1;
  grid-row: 1;
  position: static;
  height: fit-content;
}

.medium_wrapper{
  grid-area: community_grid;
  grid-column: 2;
  grid-row: 1;
  position: static;
  height: fit-content;
}

.dribbble_wrapper{
  grid-area: community_grid;
  grid-column: 3;
  grid-row: 1;
  position: static;
  height: fit-content;
}

.behance_wrapper{
  grid-area: community_grid;
  grid-column: 1;
  grid-row: 2;
  position: static;
  height: fit-content;
}

/* PORTFOLIO PAGE*/
.portfolio_introheader{
  background-image: url(https://kdjiang390.github.io/Assets/portfolio_introheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:static;
  right: 0;
  top: 0;
  aspect-ratio: 16/9;
  transform: scale(1, 1);
}
/* CONTACTS PAGE*/
.contacts_introheader{
  background-image: url(https://kdjiang390.github.io/Assets/contacts_introheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:static;
  right: 0;
  top: 0;
  aspect-ratio: 16/9;
  transform: scale(1, 1);
}